// utils
@import "./utils/variables";

// base
@import "./base/common";
@import "./base/container";

// // components
@import "./components/logotip";
// @import "./components/modal";

// // layot
// @import "./layout/header";
// @import "./layout/hero";
// @import "./layout/features";
// @import "./layout/engage";
// @import "./layout/comand";
// @import "./layout/clients";
// @import "./layout/footer";

/* белый цвет герой #FFFFFF;*/
/* основной цвет текста #757575;*/
/* цвет зогаловок текста #212121;*/
/* вторичный цвет фона #F5F4FA;*/
/* цвет акцент #2196f3;*/
/* цвет фона подвал и герой #2F303A; */

/* =============== common =============== */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
	min-width: 100%;
	height: auto;
}

.address {
	font-style: normal;
}

body {
	background-color: #fff;
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	margin-left: auto;
	margin-right: auto;
}

.conteiner {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* =============== header ================ */
/* logo */

.header .logotip,
.footer .logotip {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2; /* 31 */
	letter-spacing: 0.03em;
}
.logotip {
	/* outline: 1px solid tomato; */
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;

	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1; /* 16 */
	letter-spacing: 0.02em;
	text-decoration: none;
	transition-duration: 250ms;
	transition-timing-function: var(--timing-function);
}

.logotip-accent {
	outline-color: #2195f3;
	color: var(--accent-color);
}

.navigation__list .item {
	position: relative;
}

.navigation__list .item:not(:last-child),
.contacts__list .item:not(:last-child) {
	margin-right: 50px;
}

.navigation__list {
	margin-left: 93px;
}
.contacts__list {
	margin-left: auto;
}

.navigation__list .link,
.contacts__list .link {
	/* outline: 1px solid tomato; */
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1; /* 16 */
	letter-spacing: 0.02em;
	text-decoration: none;
	transition-duration: 250ms;
	transition-timing-function: var(--timing-function);
}

.contacts__list .link {
	color: currentColor;
}

.navigation__list .link.current,
.navigation__list .link:focus,
.navigation__list .link:hover,
.contacts__list .link:focus,
.contacts__list .link:hover {
	outline-color: #2195f3;
	color: var(--accent-color);
}

.navigation__list .link::after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background-color: var(--accent-color);
	transition: transform 250ms var(--timing-function);
	transform: scaleX(0);
}

.navigation__list .link:hover::after {
	transform: scaleX(1);
}

.item.current::after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background-color: var(--accent-color);
}

.contacts .link {
	/* outline: 1px solid tomato; */
	display: inline-flex;
	align-items: center;
}

.envelope-icon {
	width: 16px;
	height: 12px;
	margin-right: 10px;
	fill: var(--primary-text-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
	width: 10px;
	height: 16px;
	margin-right: 10px;
	fill: var(--primary-text-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope.link:hover .envelope-icon {
	fill: #2196f3;
}

.smartphone.link:hover .smartphone-icon {
	fill: #2196f3;
}

.header .conteiner,
.hero .conteiner,
.navigation,
.navigation__list,
.contacts__list {
	display: flex;
	align-items: center;
}

/* ================ main =============== */

/*  ============== Герой-hero ========== */

.hero {
	/* outline: 2px solid tomato; */
	text-align: center;
	background-color: #2f303a;
	padding: 200px 0;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(0, 0, 0, 0.3)), url(../img/hero-1.jpg);
	background-position: center;
}

.hero .conteiner {
	flex-direction: column;
}

.hero-title {
	/* outline: 2px solid tomato; */
	width: 696px;
	margin-top: 0;
	margin-bottom: 30px;
	color: var(--hero-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4; /* 60 */
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.modal-btn {
	min-width: 200px;
	padding: 10px 32px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--hero-color);
	border: none;
	background-color: var(--accent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9; /* 30 */
	letter-spacing: 0.06em;
	text-decoration: none;
	cursor: pointer;
}

/* ========== feature ========== */

.feature {
	padding-top: 94px;
	padding-bottom: 94px;
}

.feature-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-feature {
	display: flex;
	width: 270px;
	height: 120px;
	justify-content: center;
	align-items: center;
	background-color: var(--second-color);
	border-radius: 4px;
}
.icon-feature {
	width: 70px;
	height: 70px;
}

.feature-list .list-item {
	width: 270px;
}

.feature-list .section-title {
	font-size: 14px;
	line-height: 1.1; /* 16 */
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: left;
}

.feature-list p {
	font-size: 14px;
	line-height: 1.7; /* 24 */
}

/* ======= engage ======= */

.engage {
	padding-bottom: 94px;
}

.section-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2; /* 42 */
	text-align: center;
	margin-bottom: 50px;
}

.section-img {
	/* outline: 2px solid tomato; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.engage-pic {
	position: relative;
}

.engage-pic::before {
	display: inline-block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);
}

.engage-pic-title {
	position: absolute;
	left: 83px;
	bottom: 22px;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #ffffff;
}

/* ========== command =========== */

.command {
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
}

.command-list {
	display: flex;
	text-align: center;
}

.command-card-team {
	width: 270px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.command-card-team:not(:last-child) {
	margin-right: 30px;
}

.command-card-info {
	padding-top: 30px;
	padding-bottom: 30px;
}

.command-card-info .title {
	margin: 0;
	font-size: 16px;
	line-height: 1.9; /* 19 */
	color: var(--title-text-color);
	font-weight: 500;
}

.command-card-info p {
	margin: 0;
	font-size: 16px;
	line-height: 1.9; /* 19 */
}

.command-social.list {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.command-social .item + .item {
	margin-left: 10px;
}

.item-link {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: white;
	color: #afb1b8;
	justify-content: center;
	align-items: center;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover {
	background-color: var(--accent-color);
	border-radius: 50%;
}

.icon {
	fill: currentColor;
	width: 20px;
	height: 20px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover .icon {
	fill: white;
}

/* ============ c l i e n t s ============ */

.clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-list {
	display: flex;
	justify-content: center;
}

.clients-list .clients-item:not(:last-child) {
	margin-right: 30px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #afb1b8;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	width: 170px;
	height: 90px;
	/* transition-property: background-color; */
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover {
	border: 1px solid #2196f3;
}
.clients-link:hover .client-logo {
	color: var(--accent-color);
}

.client-logo {
	fill: currentColor;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo.one {
	width: 44px;
	height: 49px;
}
.client-logo.two {
	width: 41px;
	height: 43px;
}
.client-logo.three {
	width: 80px;
	height: 42px;
}
.client-logo.four {
	width: 80px;
	height: 42px;
}
.client-logo.five {
	width: 59px;
	height: 47px;
}
.client-logo.six {
	height: 45.44px;
	width: 88.48px;
}

/* ============ porfolio.html ============== */

.header.border {
	border-bottom: 1px solid #ececec;
}
.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* ======== button ========  */
.flex-button {
	display: flex;
	justify-content: center;
}

.flex-button .btn + .btn {
	margin-left: 6px;
}

.flex-button button {
	display: inline-block;
	padding: 6px 22px;
	border-radius: 4px;
	color: var(--title-text-color);
	background-color: var(--second-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 26px; /* 1.6 */
	border: none;
	margin-bottom: 50px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-button button:hover,
.flex-button button:focus {
	color: var(--hero-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	border-radius: 4px;
}

/* ============ примеры-examples ========== */

.portfolio-examples {
	display: flex;
	flex-wrap: wrap;
	/* overflow: hidden; */
}

.portfolio-list {
	background: #ffffff;
	box-sizing: border-box;
	margin-right: 30px;
	width: calc((100% - 60px) / 3);
	overflow: hidden;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:nth-child(3n) {
	margin-right: 0;
}

.portfolio-list:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.portfolio-list:hover {
	background: #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

/* ==== portfolio-link ==== */
.portfolio-link {
	text-decoration: none;
	overflow: hidden;
}

.portfolio-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-actions.overlay {
	/* outline: 1px solid tomato; */
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(33, 150, 243, 0.9);
	opacity: 0;
	transform: translateY(100%);
	font-size: 18px;
	line-height: 28px;
	padding: 63px 24px;
	color: #ffffff;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .product-actions.overlay {
	opacity: 1;
	transform: translateY(0);
}

/* ==== card-content ==== */

.card-content {
	position: relative;
	background: #ffffff;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	padding: 20px 24px;
}

.card-content .title {
	font-weight: 700;
	color: var(--title-text-color);
	font-size: 18px;
	line-height: 2; /* 36 */
	letter-spacing: 0.06em;
}

.card-content p {
	font-size: 16px;
	line-height: 1.9; /* 30 */
	color: #757575;
}

/* ================== footer ================ */

.footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact-list {
	font-size: 14px;
	line-height: 1.7; /* 24 */
	font-style: normal;
}
.contact-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-address {
	color: var(--hero-color);
}

.contact-item .link {
	/* padding-top: 9px; */
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer .conteiner {
	display: flex;
	align-items: baseline;
	position: relative;
}
.footer-contact {
	margin-right: 70px;
}

.footer .logotip {
	padding-top: 0;
	padding-bottom: 20px;
}

.footer__logotip-color {
	color: var(--hero-color);
}

.contact-item .link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

/* ========== join-conteiner ===========  */

.join-conteiner {
	margin-right: 93px;
}

.join {
	display: block;
	color: var(--hero-color);
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-social {
	display: flex;
}
.footer-social .item + .item {
	margin-left: 10px;
}

.footer-social .item {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social .item:hover,
.footer-social .item:focus {
	background-color: var(--accent-color);
	border-radius: 50%;
}

.footer-icon {
	width: 20px;
	height: 20px;
}
/* ========== subscribe-conteiner ========== */

.subscribe-label {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
	margin-bottom: 20px;
}

.subscribe-input {
	font-size: 16px;
	line-height: 20px;

	width: 358px;
	height: 50px;
	padding: 15px 16px;
	letter-spacing: 0.03em;
	background-color: #2f303a;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-right: 12px;
}

.subscribe.modal-btn {
	position: relative;
	text-align: left;
}

.icon-send {
	position: absolute;
	width: 20px;
	height: 50%;
	top: 12px;
	right: 28px;
}

/* ================== end footer ================ */

/* ============== open modal window ============ */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.9);
}

/* ======== close modal window ====== */
.close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

.icon-close {
	width: 11px;
	height: 11px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover {
	fill: var(--accent-color);
}

/* ============ modal form ============== */

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 528px;
	max-height: 581px;
	padding: 40px;

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	background-color: #fff;

	z-index: 1;
}

.form-title {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.03em;
	width: 448px;
	margin-bottom: 12px;
	color: #212121;
}

.form-group {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 12px;
	line-height: 14px;

	letter-spacing: 0.01em;

	margin-bottom: 10px;
}

.form-group label {
	text-align: left;
	margin-bottom: 4px;
}
.form-group .input {
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 12px 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group .textarea:hover,
.form-group .textarea:focus,
.form-group input:focus,
.form-group input:hover {
	outline-color: var(--accent-color);
	/* outline-color: none; */
	border-color: var(--accent-color);
}

.form-group input:hover + .icon-person,
.form-group input:hover + .icon-phone,
.form-group input:hover + .icon-email,
.form-group input:focus + .icon-person,
.form-group input:focus + .icon-phone,
.form-group input:focus + .icon-email {
	outline-color: var(--accent-color);
	fill: var(--accent-color);
}

/* .form-group:focus-within > .icon-person,
.form-group:focus-within > .icon-phone,
.form-group:focus-within > .icon-email {
	fill: var(--accent-color);
} */

.icon-person {
	position: absolute;
	display: inline-block;
	top: 30px;
	left: 14px;
	width: 12px;
	height: 12px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
	position: absolute;
	display: inline-block;
	top: 30px;
	left: 14px;
	width: 13px;
	height: 13px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-email {
	position: absolute;
	display: inline-block;
	top: 30px;
	left: 14px;
	width: 15px;
	height: 12px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* textarea */

.form-group .textarea {
	resize: none;
	width: 100%;
	height: 120px;
	margin: 0;

	padding: 12px 16px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group .textarea::placeholder {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.form-group.area {
	margin-bottom: 20px;
}
/* checkbox */

.label-checkbox {
	display: inline-block;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	margin-bottom: 30px;
}
.checkbox-link {
	color: var(--accent-color);
}

.checkbox {
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute; */

	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
	clip-path: inset(100%);
}

.checkbox:checked + .icon-check {
	background-image: url("../svg/7-hw/icon-check.svg");
	background-color: var(--accent-color);
	background-size: contain;
	background-origin: border-box;
	border: 2px solid var(--accent-color);
}

.icon-check {
	display: inline-block;
	/* align-items: baseline; */
	/* position: absolute; */
	top: 10px;
	right: 10px;
	width: 16px;
	height: 15px;
	background-origin: content-box;
	border: 1px solid black;
	border-radius: 4px;
	margin-right: 7px;
}
.form .modal-btn {
	margin-left: 124px;
}
