/* ============ porfolio.html ============== */

.header.border {
	border-bottom: 1px solid #ececec;
}
.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* ======== button ========  */
.flex-button {
	display: flex;
	justify-content: center;
}

.flex-button .btn + .btn {
	margin-left: 6px;
}

.flex-button button {
	display: inline-block;
	padding: 6px 22px;
	border-radius: 4px;
	color: var(--title-text-color);
	background-color: var(--second-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 26px; /* 1.6 */
	border: none;
	margin-bottom: 50px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-button button:hover,
.flex-button button:focus {
	color: var(--hero-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	border-radius: 4px;
}

/* ============ примеры-examples ========== */

.portfolio-examples {
	display: flex;
	flex-wrap: wrap;
	/* overflow: hidden; */
}

.portfolio-list {
	background: #ffffff;
	box-sizing: border-box;
	margin-right: 30px;
	width: calc((100% - 60px) / 3);
	overflow: hidden;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:nth-child(3n) {
	margin-right: 0;
}

.portfolio-list:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.portfolio-list:hover {
	background: #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

/* ==== portfolio-link ==== */

.portfolio-link {
	text-decoration: none;
	overflow: hidden;
}

.portfolio-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-actions.overlay {
	/* outline: 1px solid tomato; */
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(33, 150, 243, 0.9);
	opacity: 0;
	transform: translateY(100%);
	font-size: 18px;
	line-height: 28px;
	padding: 63px 24px;
	color: #ffffff;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .product-actions.overlay {
	opacity: 1;
	transform: translateY(0);
}

/* ==== card-content ==== */

.card-content {
	position: relative;
	background: #ffffff;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	padding: 20px 24px;
}

.card-content .title {
	font-weight: 700;
	color: var(--title-text-color);
	font-size: 18px;
	line-height: 2; /* 36 */
	letter-spacing: 0.06em;
}

.card-content p {
	font-size: 16px;
	line-height: 1.9; /* 30 */
	color: #757575;
}
